html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
	/* border: 1px solid red; */
}

body {
	font-family: Arial, Helvetica, sans-serif;
	color: #261704;
	margin: 0;
	padding: 0;
	background-color: #FFF5EE;
}

.wrapper {
	width: 80%;
	margin: 2rem auto;
	padding: 1em;
	border: 2px solid #261704;
	border-radius: 3rem;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	background-color: #FFF5EE;
}

/* p {
	margin-bottom: 0;
	margin-top: 2rem;
} */

ul {
	display: flex;
	gap: .5rem;
	padding-left: 0;
}

li {
	list-style-type: none;
}

svg {
	fill: #261704;
	height: 2rem;
}

@media screen and (max-width: 400px) {
	ul {
		gap: 1rem;
	}
}
