html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	/* border: 1px solid red; */
}

body {
	font-family: Arial, Helvetica, sans-serif;
	color: #261704;
	margin: 0;
	padding: 0;
	background-color: #FFF5EE;
}

p {
	text-align: center;
	margin: 0;
}

.wrapper {
	width: 80%;
	margin: 2rem auto;
	padding: 1em;
	border: 2px solid #261704;
	border-radius: 3rem;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	background-color: #FFF5EE;
}

h4 {
	margin-top: 0;
}

#socials {
	display: flex;
	flex-flow: row;
	gap: 1rem;
	padding-left: 0;
}

#github-contact {
	gap: 0;
}

a {
	display: flex;
	justify-content: center;
}

.repos {
	display: none;
}

li {
	list-style-type: none;
}

footer {
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
}

.contact-icon {
	height: 3rem;
}

.qr-code-hide {
	display: none;
}

.qr-button {
	display: none;
}

@media screen and (max-width: 400px) {
	.contact-icon {
		display: flex;
		justify-content: center;
		height: 3rem;
	}

	.contact-icon-hide {
		display: none;
	}

	.contact-list:not(#github-contact) {
		margin-bottom: 1rem;
	}

	.qr-button {
		color:#261704;
		background-color: #dad7d5;
		display: flex;
		margin: 1rem;
		padding: .5rem;
		border: 1.5px solid #261704;
		border-radius: .5rem;
		box-shadow: 3px 3px #261704;
	}
	.qr-button:active {
		color: white;
		background-color: #261704;
	}

	.qr-code-show {
		display: flex;
		max-width: 100%;
		height: auto;
	}
	.qr-code:not(#email-qr) {
		margin-bottom: 6rem;
	}

	.qr-button-hide {
		display: none;
	}

	#socials {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.repos {
		display: flex;
		flex-flow: column;
	}

	.repos-hide {
		display: none;
	}

	#job-title {
		margin-bottom: 2rem;
	}

}